body,
div.document {
  background-color: #15131E;
  background-image: url("https://saturnyoshi.gitlab.io/RoRML-Docs/_images/_background.png");
}

div.body {
    background-color: #2e2c32;
    color: #ccc;
    margin: 20px 0px 50px 0px;
    border: 32px solid transparent;
    padding: 8px;
    -webkit-border-image: url("https://saturnyoshi.gitlab.io/RoRML-Docs/_images/_ground-border.png") 32 repeat;
    -o-border-image: url("https://saturnyoshi.gitlab.io/RoRML-Docs/_images/_ground-border.png") 32 repeat;
    border-image: url("https://saturnyoshi.gitlab.io/RoRML-Docs/_images/_ground-border.png") 32 repeat;
    /*-webkit-box-shadow: 2px 2px 5px black;
    -moz-box-shadow: 2px 2px 5px black;*/
}
 
a code,
a {
    color: #75BBEA;
    font-weight: bold;
}

a code:hover,
a:hover {
    color: #9cf;
    text-decoration: none;
}
 
div.body h2 {
    background-color: #514F68;
    font-weight: bold;
    color: white;
    margin: 60px 0px 15px 0px;
    padding: 10px 20px 10px 20px;
    text-shadow: 2px 2px 5px #333;
    font-size: 150%;
}

div.body h1 {
    border-top: 0;
    font-size: 230%;
    color: white;
    margin: 5px 0px 15px 0px;
    padding: 10px 20px 10px 20px;
    background-color: #8279AD;
    font-weight: normal;
    text-shadow: 2px 2px 5px #333;
}

pre,
.admonition,
#table-of-contents .first,
div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    -webkit-box-shadow: 2px 2px 5px #161616;
    -moz-box-shadow: 2px 2px 5px #161616;
}

.toc-backref {
    color: white;
}

#table-of-contents .first,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: Arial, sans-serif;
    background-color: #161616;
    font-weight: normal;
    color: white;
    margin: 30px 0px 10px 0px;
    padding: 5px 0 5px 10px;
    text-shadow: 2px 2px 5px black;
}

code {
    background-color: #161616;
    color: #bbb;
    font-size: 1.2em;
}

h2 code,
h3 code {
    color: white;
}

pre {
    padding: 5px;
    background-color: #191721;
    line-height: 1.3em;
    font-size: 1.1em;
    margin: 1em 0 1em 0;
    border: 1px solid #161616;
}

table.docutils td, table.docutils th {
    padding: 5px 5px 5px 5px;
    border-bottom: 0;
}

table.docutils {
    -webkit-box-shadow: 2px 2px 5px #161616;
    -moz-box-shadow: 2px 2px 5px #161616;
    border: 3px solid #161616;
}

table.docutils.footnote{
    -webkit-box-shadow: 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px;
    border: 0px;
}

.row-odd {
    background-color: #343338;
}

th {
    background-color: #666;
    color: white;
    text-shadow: 2px 2px 5px #333;
}


.label {
    font-weight: bold;
}

div.sphinxsidebar {
    font-size: 85%;
}

div.sphinxsidebar .caption {
    background-color: #55565e;
    margin-top: 48px;
    padding: 2px;
    padding-left: 10px;
    /*-webkit-box-shadow: 3px 3px 3x black;
    -moz-box-shadow: 3px 3px 3px black;*/
    background-image: url("https://saturnyoshi.gitlab.io/RoRML-Docs/_images/_sidebar-beam.png");
    background-repeat: repeat;
}

div.sphinxsidebar .caption-text {
    font-weight: bold;
    color: #ddd;
    font-size: 125%;
    text-shadow: 2px 2px 5px black;
}

div.sphinxsidebar h3,
#searchbox h3 {
    background-color: transparent;
    text-shadow: 2px 2px 5px #333;
    font-weight: bold;
    font-size: 19px;
}

.sphinxsidebar h3 a,
#searchbox h3 {
    color: #ddd !important;
    font-weight: bold;
    font-size: 19px;
}

.sphinxsidebar h3 a {
    color: #75BBEA !important;
}

.sphinxsidebar h3 a:hover {
    color: #9cf !important;
}

div.sphinxsidebar .searchformwrapper {
    padding-top: 10px;
    padding-bottom: 70px;
}

div.sphinxsidebar h3,
div.sphinxsidebar .searchformwrapper,
div.sphinxsidebar p.caption {
    margin-left: 15px;
    margin-right: -23px;
}

div.bodywrapper {
    margin-left: 270px;
}

.searchformwrapper .search input {
    background-color: black;
    color: #bbb;
}

div.sphinxsidebar .toctree-l1 .internal {
    color: #666;
}

div.sphinxsidebar .toctree-l1 .internal:hover {
    color: #999;
}

div.related {
    line-height: 40px;
    font-size: 100%;
	background-color: black;
    color: #666;
}
 
div.related a {
    color: #ccc;
}

#table-of-contents {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body .caption-text {
    font-weight: bold;
    font-size: 120%;
}


/*************************************************************************/



.admonition {
    color: white;
}

div.highlight{
    background-color: black;
}

div.note {
    background-color: #776;
    border: 3px solid #333;
    padding: 6px;
}
 
div.seealso {
    background-color: #F3BA12;
    border: 3px solid #333;
}
 
div.topic {
    background-color: #444;
    border: 3px solid #333;
    padding: 6px;
}
 
div.warning {
    background-color: #E74C3C;
    border: 3px solid #333;
}
 
a.headerlink {
    color: white;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
}
 
a.headerlink:hover {
    color: #75BBEA;
    background-color: transparent;
}